[Unit]
Description=Flask App
After=network.target

[Service]
User=azureuser
EnvironmentFile=/repo/app/.env
ExecStart=/repo/venv/bin/python /repo/app/main.py
Restart=always

[Install]
WantedBy=multi-user.target
